name: Kube Release

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Kubernetes version'
        required: true
        type: string

concurrency: 
  group: ${{ github.ref_name }}-release
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  release-kubernetes:
    strategy:
      matrix:
        arch:
        - amd64
        - ppc64le
        - s390x
        - arm64
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
    - uses: actions/checkout@v4
    - uses: actions/checkout@v4
      with:
        repository: kubernetes/kubernetes
        ref: ${{ inputs.version }}
        path: kubernetes
        token: ${{ secrets.GIT_HUB_TOKEN }}
        github-server-url: https://github.com
    - name: Login to registry
      uses: docker/login-action@v3
      with:
        registry: ${{ vars.REGISTRY }}
        username: ${{ vars.REGISTRY_USER }}
        password: ${{ secrets.REGISTRY_TOKEN }}
    - name: Build Kubernetes images
      run: |
        (cd kubernetes ; git apply ${{ github.workspace }}/kubernetes-${{ inputs.version }}.patch)
        make -C kubernetes release-images
      env:
        KUBE_FASTBUILD: "false"
        KUBE_GIT_TREE_STATE: clean
        KUBE_GIT_VERSION: ${{ inputs.version }}
        KUBE_RELEASE_RUN_TESTS: n
        KUBE_DOCKER_REGISTRY: ${{ vars.REGISTRY }}/${{ vars.REPOSITORY }}
        KUBE_SERVER_IMAGE_TARGETS: "cmd/kube-apiserver cmd/kube-controller-manager"
        KUBE_SERVER_PLATFORMS: "${{ matrix.arch }}"
    - name: Push images
      run: |
        docker push ${{ vars.REGISTRY }}/${{ vars.REPOSITORY }}/kube-apiserver-${{ matrix.arch }}:${{ inputs.version }}
        docker push ${{ vars.REGISTRY }}/${{ vars.REPOSITORY }}/kube-controller-manager-${{ matrix.arch }}:${{ inputs.version }}
