name: Kube Release

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Kubernetes version'
        required: true
        type: string

concurrency: 
  group: ${{ github.ref_name }}-release
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  release-kubernetes:
    strategy:
      matrix:
        what:
        - kube-apiserver
        - kube-controller-manager
        - kube-scheduler
        - kube-proxy
        arch:
        - amd64
        - ppc64le
        - s390x
        - arm64
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
    - uses: actions/checkout@v4
    - uses: actions/checkout@v4
      with:
        repository: kubernetes/kubernetes
        ref: ${{ inputs.version }}
        path: kubernetes
        token: ${{ secrets.GIT_HUB_TOKEN }}
        github-server-url: https://github.com
    - name: Login to registry
      uses: docker/login-action@v3
      with:
        registry: ${{ vars.REGISTRY }}
        username: ${{ vars.REGISTRY_USER }}
        password: ${{ secrets.REGISTRY_TOKEN }}
    - name: Patch Kubernetes
      run: |
        (cd kubernetes ; git apply ${{ github.workspace }}/kubernetes-${{ inputs.version }}.patch)
        sed -i 's|kube::util::host_arch|echo ${{ matrix.arch }}|' ${{ github.workspace }}/kubernetes/hack/lib/golang.sh
        sed -i 's/WHAT="${CMD_TARGETS}"/WHAT="cmd/${{ matrix.what }}"/' ${{ github.workspace }}/kubernetes/build/release-images.sh
        sed -i 's/KUBE_BUILD_PLATFORMS="${KUBE_SERVER_PLATFORMS[*]}"/KUBE_BUILD_PLATFORMS="${{ matrix.arch }}"/' ${{ github.workspace }}/kubernetes/build/release-images.sh
    - name: Build Kubernetes images
      run: make -C kubernetes release-images
      env:
        KUBE_FASTBUILD: "true"
        KUBE_GIT_TREE_STATE: clean
        KUBE_GIT_VERSION: ${{ inputs.version }}
        KUBE_RELEASE_RUN_TESTS: n
        KUBE_DOCKER_REGISTRY: ${{ vars.REGISTRY }}/${{ vars.REPOSITORY }}
    - name: Push images
      run: docker push ${{ vars.REGISTRY }}/${{ vars.REPOSITORY }}/${{ matrix.what }}-${{ matrix.arch }}:${{ inputs.version }}
